/*
    Document   : content
    Description:
        Estilos principales de la web
*/

/* -----------------------------------------------------------------------------
 * BASIC ELEMENTS
 * -----------------------------------------------------------------------------
 */

/* --------------------------------------
 * Titles
 * --------------------------------------
 */
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

/* --------------------------------------
 * Links
 * --------------------------------------
 */
a       {  }
a:hover {  }

/* --------------------------------------
 * Texts
 * --------------------------------------
 */
p {  }

/* --------------------------------------
 * Lists
 * --------------------------------------
 */

/* --------------------------------------
 * Tables
 * --------------------------------------
 */

/* --------------------------------------
 * Images
 * --------------------------------------
 */


/* -----------------------------------------------------------------------------
 * CONTENIDO
 * -----------------------------------------------------------------------------
 */
